# Build artifacts
dist/
*.exe

# Local toolchains / temp
.tools/
go.zip

# Generated secrets (created by gen-certs.sh)
deploy/controller/certs/
deploy/target/certs/

# Generated configs (created by install scripts; *.example files are committed)
deploy/controller/config/controller.yaml
deploy/target/config/agent.yaml
